* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

a {
    text-decoration: none;
    color: inherit; /* herda a cor do elemento pai */
}

h2 {
  margin-left: 10px;
  margin-bottom: 10px;
}

button {
  color: inherit; /* herda a cor do elemento pai */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Moldura de celular */
.screen {
  width: 360px;
  height: 740px;
  background-color: #f7d75e;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; 
}


/* Caixas */

.home-container {
  display: flex;
  box-sizing: content-box;
  width: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.home-container::-webkit-scrollbar {
  display: none; 
}

.background-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 2200px;
  width: 100%; 
  height: auto;
  margin-top: 20px;
  scroll-snap-type: both mandatory;
  border-radius: 4px;
}

.category-box {
  margin-bottom: 60px;
}

.card-events, .card-attractions {
  display: flex;
  gap: 5px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
  min-width: 150px;
  background-color: #faebc0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  align-items: center;
}

.card .title {
  font-weight: bold;
  margin-bottom: 35px;
  height: 36px;
  line-height: 1.2;
}

.card img {
  max-width: 100%;
  height: 164px;
  width: 123px;
  border-radius: 4px;
}

.card-events::-webkit-scrollbar,
.card-attractions::-webkit-scrollbar {
  height: 6px;
}


.title {
  font-weight: bold;
  padding: auto;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
  word-break: break-word;
  max-width: 120px;
  text-align: center;
}

.subtitle {
  font-size: 0.9em;
  color: gray;
}

/* Links */

.link {
  color: #346aff;
  text-decoration: none;
}


/* Top Bar */

.top-bar-organizer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  gap: 0px 80px;
  margin-top: 5px;
}

.top-bar-common {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  gap: 0px 150px;
  margin-top: 5px;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon {
  height: 28px;
  cursor: pointer;
}

.right-section {
  display: flex;
  justify-content: flex-end;
  gap: 8px; /* espaço entre botão e ícones */
  margin-left: 2px;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
}

.logo-tiny {
  width: 48px !important;
  margin-bottom: 20px;
}

.add-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10.1119px;
  gap: 3.16px;
  text-align: center;
  width: 120px;
  height: 28px;
  background: #FFD54A;
  border: black 1px solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5.05596px;
  font-weight: bold;
  font-size: 11px;
}

.add-btn:hover {
  color: #346AFF;
}
/* Search Bar */

.search-bar {
  padding: 5px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 12px 12px 12px 40px; /* espaço à esquerda para a lupa */
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-bar .search-icon {
  position: relative;
  left: 12px;
  top: 70%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none; /* evita que o clique capture o ícone */
}