* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.phone {
  width: 375px; 
  height: 812px;
  border: 1px solid #ccc;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  background-color: #f7d75e;
  display: flex;
  flex-direction: column;
}

.screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px; 
}

.logo {
  width: 120px; 
  margin-top: 50px;
  margin-bottom: 20px; 
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.box {
  background-color: #fff;
  border-radius: 16px;
  padding: 30px 20px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 115px;
}

.box h2 {
  white-space: nowrap;
  text-align: center;
  margin-left: 60px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.separator {
  display: flex; 
  align-items: center; 
  text-align: center;
  color: #000;
  font-size: 14px;
  margin: 25px 0; 
}

.separator::before,
.separator::after {
  content: ''; 
  flex: 1; 
  border-bottom: 1px solid #dcdcdc; 
}

.separator::before {
  margin-right: 15px;
}

.separator::after {
  margin-left: 15px;
}

.btn {
  display: block;
  text-align: center;
  background-color: #346aff;
  color: white;
  padding: 10px 0;            
  margin-top: 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  width: 80%;
  max-width: 300px;         
  margin-left: auto;         
  margin-right: auto;
}

.btn:hover {
  background-color: #2653cc;
}


.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  width: 100%;
}

.info-img {
  width: 30%;
}

.modal-overlay {
  position: fixed;
  inset: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  width: 375px;
  height: 812px;
}

.modal-container {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  padding: 32px;
  margin: 16px;
  max-width: 448px; 
  width: 100%;
  transition: all 0.3s ease-out;
}

.modal-title {
  font-size: 24px; 
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 16px;
  text-align: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #4b5563; 
}

.type-title {
  font-weight: 600;
  font-size: 18px; 
  color: #4f46e5; 
}

.modal-actions {
  margin-top: 32px;
  text-align: center;
}

.modal-container button{
  background-color: #346aff;
  color: white;
  font-weight: 700;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-container button:hover {
  background-color: #2653cc;
}
