h3 {
    font-size: 18px;
    margin: 0;
    margin-top: -15px;
}

.organizer-info {
  display: flex;
  background-color: #faebc0;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  max-width: 500px;
}

.separator-unique {
  display: flex; 
  align-items: center; 
  text-align: center;
  color: #000;
  font-size: 14px;
  margin: 25px 0; 
}

.separator-unique::before,
.separator-unique::after {
  content: '';
  flex: 1; 
  border-bottom: 1px solid #dcdcdc; 
}
