/* src/components/styles/favorites.css */

.favorites-box {
  flex: 1; /* Faz este elemento crescer e ocupar o espaço restante */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* ESSENCIAL: Impede que este container cresça com o conteúdo */
  padding: 20px;
  background-color: white;
  margin: 0px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  box-sizing: content-box;
  width: 100%;
}

.favorites-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 10px;
  flex: 1; 
  overflow-y: auto; 
}

.favorites-list::-webkit-scrollbar {
  display: none;
}

.favorite-card {
  display: flex;
  align-items: center;
  background-color: #FFF9E0; /* Cor de fundo amarelada do card */
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  max-width: 1000px; /* Ajuste a largura máxima conforme necessário */
  margin: 0 auto;
}

.favorite-card .card-link {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
  width: 100%;
  flex-grow: 1;
}

.favorite-img {
  width: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
}

.favorite-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  padding-bottom: 30px; 
}

.favorite-details h3 {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

.favorite-details p {
  margin: 0px;
  font-style: italic;
  color: #555;
}

.favorite-details span {
  font-size: 12px;
}

.favorite-details .price {
  font-weight: bold;
  margin-top: 5px;
}

.favorite-details .details-box {
  margin-top: auto; 
  font-size: 14px;
}

.details-box {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  background-color: white;
  border-radius: 8px;
}

.remove-btn {
  position: absolute; /* Posicionamento absoluto em relação ao pai */
  bottom: 10px;       /* 10px de distância do fundo */
  right: 15px; 
  margin-top: 45px;       /* 10px de distância da direita */
  
  /* Estilos que você pode manter */
  background-color: #ff0000;
  color: white;
  padding: 4px 8px; 
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 12px; /* Opcional, talvez um pouco menor fique melhor */
  cursor: pointer;

  width: 46.5%;
}

.remove-btn:hover {
  background-color: #d90429; /* Uma cor um pouco diferente no hover */
}


