* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

a {
    text-decoration: none;
    color: inherit; 
}

/* Moldura de celular */
.screen {
  width: 375px; 
  height: 812px;
  background-color: #f7d75e;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; 
}

/* Logo */

.logo-img {
  width: 120px; 
  margin-top: 20px;
  margin-bottom: 40px; 
}

/* Caixa de Registro */
.register-box {
  background-color: #fff;
  padding: 25px 20px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: auto; 
  margin-bottom: auto;

  box-sizing: content-box;

  overflow-y: auto;
  scrollbar-width: none;  
}

.register-box::-webkit-scrollbar {
  display: none; 
}

.register-box h2 {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: flex-start;
}

/* Campos de entrada */
.register-box label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.register-box input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

label.required {
  content: "*";
  font-weight: bold;
}

.register-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.register-actions .btn {
  flex: 1; 
}

.selection-box {
  border: 1px solid #ddd;
  border-radius: 16px; 
  padding: 15px;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  gap: 20px;
  white-space: nowrap; 
}

.selection-box legend {
  padding: 0 10px;
  font-weight: bold;
  color: #555;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.radio-option input[type="radio"] {
  cursor: pointer;
}

.radio-option label {
  font-size: 1rem;
  cursor: pointer;
}

/* Botão Login */
.btn {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background 0.2s;
  display: block;
}

.btn:hover {
  background-color: #2653cc;
}

.button-container {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

/* Cadastro */

.medium-letters {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.link {
  color: #346aff;
  text-decoration: none;
}

/* Errors */

label.required::after {
  content: " *";;
  color: red;
}

.error {
  font-style: italic;
  font-weight: bold;
  color: red;
  font-size: 14px;
}
