/* Form */

/* Auto layout */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 41.1777px 61.7665px;
gap: 27.45px;

position: absolute;
height: 251px;
left: 9.95%;
right: 8.01%;
top: calc(50% - 251px/2 + 11px);

background: #FFFFFF;
border-radius: 17.1574px;


/* Frame 10 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 13.73px;

width: 214.47px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Welcome back */

display: none;
width: 103px;
height: 14px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13.7259px;
line-height: 100%;
/* identical to box height, or 14px */
display: flex;
align-items: center;

/* text/secondary */
color: #5A5A5D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 187px;
height: 24px;

/* heading */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 100%;
/* or 28px */
display: flex;
align-items: center;

color: #101828;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20.59px;

display: none;
width: 343.15px;
height: 150.98px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 30 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 20.59px;

width: 214.47px;
height: 78.92px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 13.7259px;
gap: 4.29px;

width: 214.47px;
height: 44.61px;

background: #1570EF;
border-radius: 6.86294px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Login now */

width: 84px;
height: 14px;

/* body/large/semibold */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 100%;
/* or 16px */
display: flex;
align-items: center;

color: #FCFCFD;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 29 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 6.86px;

width: 222.19px;
height: 13.73px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Don't have an account? */

display: none;
width: 248px;
height: 14px;

/* body/large/regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* or 16px */
display: flex;
align-items: center;
text-transform: capitalize;

color: #98A2B3;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Sign up */

display: none;
width: 89px;
height: 14px;

/* body/large/regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* or 16px */
display: flex;
align-items: center;
text-transform: capitalize;

color: #1570EF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}